<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin Panel </h2>

        </div>
        <img src="https://yt3.ggpht.com/cpxL96GuNalIyLyiyPNxU8qaOGKDTDie179lgeowO9qs7K9LIFSLyWz3DIpM5ZZfEBIKIuMJHw=s900-c-k-c0x00ffffff-no-rj" alt="khazix 1v9">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>Dashboard</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/marque"><mat-icon>fingerprint</mat-icon>
        Gestion des Marques</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/category"><mat-icon>category</mat-icon>
    Gestion des Categories</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/commande">
        <mat-icon>shopping_basket</mat-icon>Gestion des Commandes</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Outils</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
        <mat-icon>account_box</mat-icon>
        Gestion des Utilisateurs
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/article">
        <mat-icon>shopping_cart</mat-icon>
        Articles
    </a>

</mat-nav-list>
