<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Good Morning sir </h2>

        </div>
        <img src="https://occ-0-1068-92.1.nflxso.net/dnm/api/v6/9pS1daC2n6UGc3dUogvWIPMR_OU/AAAABeC9-OxTPt9dk7lyN1BNpJ-6fnVqZYp5tBaU_Utfozkz4SmVfPu9khDMTF5JFTaGlbcJoTXDSYo9tiBJMnv0MjMuA-Wd92b6TbPNSOAewAt0gva3.jpg?r=0d5" alt="khazix 1v9">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>Dashboard</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/marque"><mat-icon>fingerprint</mat-icon>
        Gestion des Marques</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/category"><mat-icon>category</mat-icon>
    Gestion des Categories</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/commande">
        <mat-icon>shopping_basket</mat-icon>Gestion des Commandes</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a> -->

    <mat-divider></mat-divider>

    <h2 matSubheader>Outils</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">
        <mat-icon>account_box</mat-icon>
        Gestion des Utilisateurs
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/article">
        <mat-icon>shopping_cart</mat-icon>
        Articles
    </a>

</mat-nav-list>
