<h1 class="h1">Gestion des Utilisateurs</h1>
<div>
  <button  mat-stroked-button routerLink="/new-user">
    <mat-icon>library_add</mat-icon></button>
</div>



<mat-form-field>
		<mat-label>Filter</mat-label>
		<input matInput placeholder="Chercher un Utilisateur"(keyup)="applyFilter($event)">
	</mat-form-field>



<div>
	<table mat-table [dataSource]="dataSource" matSort>


		<ng-container matColumnDef="idU">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>

			<td mat-cell *matCellDef="let row">{{ row.idU }}</td>
		</ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

        <ng-container matColumnDef="userLogin">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Login</th>
			<td mat-cell *matCellDef="let row">{{ row.userLogin }}</td>
		</ng-container>
    <ng-container matColumnDef="sexe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sexe</th>
      <td mat-cell *matCellDef="let row">{{ row.sexe }}</td>
    </ng-container>
        <ng-container matColumnDef="nom">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
			<td mat-cell *matCellDef="let row">{{ row.nom }}</td>
		</ng-container>
        <ng-container matColumnDef="prenom">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</th>
			<td mat-cell *matCellDef="let row">{{ row.prenom }}</td>
		</ng-container>
        <ng-container matColumnDef="phone">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</th>
			<td mat-cell *matCellDef="let row">{{ row.phone }}</td>
		</ng-container>
        <ng-container matColumnDef="userAddress">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
			<td mat-cell *matCellDef="let row">{{ row.userAddress }}</td>
		</ng-container>





		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
			<td mat-cell *matCellDef="let row">
				<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
					<mat-icon>more_vert</mat-icon>
				  </button>
				  <mat-menu #menu="matMenu">
					<button mat-menu-item (click)="odEditUser(row.idU)">
					  <mat-icon>edit</mat-icon>
            <span >Modifier</span>

					</button>

					<button mat-menu-item (click)="onDeleteUser(row.idU)">
					  <mat-icon>delete</mat-icon>
					  <span>Supprimer</span>
					</button>
				  </mat-menu>
			</td>
		</ng-container>


		<tr mat-header-row *matHeaderRowDef="columns"></tr>
		<tr mat-row *matRowDef="let row; columns: columns;"></tr>

	</table>
	<mat-paginator [length]="users.length" [pageSize]="3" [pageSizeOptions]="[1, 5, 10,100]"></mat-paginator>

</div>
